<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">E-mail: </label>
          <input type="email" id="email" class="form-control" name="email" ngModel>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" id="password" class="form-control" name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
  </div>
</div>
